@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "NanumSquareNeo";
}

.select_shop {
    background: white url(/images/icon_arrow_down.png) no-repeat 100%;
}

.select_shop:disabled {
    background: #F9FBFC url(/images/icon_arrow_down.png) no-repeat 100%;
}

/* 로딩 애니메이션 */
.loading-container.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

.loading-container.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.5s linear;
}

.loading-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 9999;
}

.loader {
    width: 60px;
    aspect-ratio: 1;
    display: flex;
    color: #fff;
    border: 4px solid;
    box-sizing: border-box;
    border-radius: 50%;
    background: radial-gradient(circle 5px, currentColor 95%, #0000),
        linear-gradient(currentColor 50%, #0000 0) 50%/4px 60% no-repeat;
    animation: l1 2s infinite linear;
}

.loader:before {
    content: "";
    flex: 1;
    background: linear-gradient(currentColor 50%, #0000 0) 50%/4px 80% no-repeat;
    animation: inherit;
}

@keyframes l1 {
    100% {
        transform: rotate(1turn);
    }
}
